@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #f9f2ea;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #2f2f2f;
}

#img-div {
  background-color: white;
  padding: 20px;
}

#image {
  max-width: 100%;
  padding: 10px 0;
  height: auto;
  display: block;
  margin: 0 auto;
}

figure {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#tribute-link {
  color: #4f4f4f;
}

section {
  width: 60%;
  margin: auto;
}

li {
  padding: 10px;
}

.center {
  text-align: center;
}
